@charset "utf-8";
/* 반드시 들어가야 하는 스타일 시작 */
/* 본문 공통 */
body{
		font:12px/1.5 Dotum, Verdana, AppleGothic, Sans-serif;
		color:#666;
		margin:0; padding:0;
		background-color:/*@background-color=*/#d2d2d2/*@*/;
		background-image:/*@background-image=*/none/*@*/;
		background-repeat:/*@background-image-repeat=*/no-repeat/*@*/;
		background-position:/*@background-image-position=*//*@*/;
}

a:link,
a:visited,
a:active { text-decoration:none; }
a:hover { text-decoration:underline; }

/* 페이징 - 현재 페이지 */
.selected { font-weight:bold;  color:#757068;}
.no-more-prev {background-image:url(images/ico_prev_no.gif) !important; }/* 비활성prev버튼 */
.no-more-next { background-image:url(images/ico_next_no.gif) !important; }/* 비활성next버튼 */

/* 카테고리 - 이미지 버튼 */
.ib { cursor:pointer;}
/* 카테고리 - 트리 셀 */
.branch3 { cursor:pointer;}
/* 카테고리 - 카테고리 옆 개수 스타일 */
.c_cnt  { font:9px Tahoma, Helvetica, Arial, Gulim, sans-serif;  color:#c00; letter-spacing:0px; }

/* 달력테이블 */
.cal_month { /* 달력 월 표시 */
	height:18px;
	background-color:#A9A9A9;
	vertical-align:middle;
}
.cal_month a {
	color:#fff;
	font:11px/18px verdana;
}
.cal_month a.this-month {padding:0px 4px; font:bold 11px/18px verdana, sans-serif; }
.tt-calendar thead th { /* 달력 요일 표시(th 영역) */
	padding-top:3px;
	color:#9B9B99;
	font:normal 11px Dotum, sans-serif;
}
.cal_week td { /* 달력 Day(td 영역) */
	padding:3px 0px;
	background-color:#E3E3E3;
	color:#5A5A5A;
	font:11px gulim, sans-serif;
	text-align:center;
}
.cal_day4 { /* 달력 오늘 날짜 표시(td) */
	color:#A81817 !important;
	font-weight:bold !important;
}
a.cal_click:link, a.cal_click:visited { /* 달력 글쓴 날 링크 스타일 */
	padding:3px 0px;
	color:#004276;
	font:11px gulim, sans-serif;
}

/* 종류별 코멘트 [##_rp_rep_class_##] */
.rp_admin               { background:url(images/iconAdmin.gif) no-repeat;  padding-left:20px; }
.rp_secret              { color:#f30;}
/* 종류별 방명록 글 [##_guest_rep_class_##] */
.guest_admin            { background:url(images/iconAdmin.gif) no-repeat; padding-left:20px;}
/* 비밀 댓글 (로그아웃시 비밀글 표현)    */
.hiddenComment { background:url(images/iconSecret.gif) no-repeat;  padding-left:20px;  font-weight:normal;}

/* 이미지 아래 캡션 스타일 */
.cap1                   { color:#999;  text-align:center; padding:4px 0; margin:0;}
/* 그림 */
.imageblock             { border:0; margin:4px 0 6px 0;}
/* 그림 2개 배치 */
.dual                   { margin-bottom:5px;}
/* 그림 3개 배치 */
.triple                 { margin-bottom:5px;}

/* 본문 - more / less */
.moreless_fold, .moreless_top, .moreless_bottom {
	font:12px/16px Gulim;
	color:#7575A3;
	font-weight:normal;
	text-decoration:underline;
}
.moreless_fold {
	background:url(images/iconMore.gif) left 0px no-repeat;
	padding-left:61px;
	margin-bottom:11px;
}
.moreless_top {
	background:url(images/iconLess.gif) left 0px no-repeat;
	padding-left:61px;
	height:16px;
	margin-bottom:11px;
}
.moreless_bottom {
	text-align:right;
	background:url(images/iconLess.gif) right 0px no-repeat;
	padding-right:61px;
	margin-top:10px;
}

/* 키워드 */
.key1 { cursor: pointer; border-bottom: 1px dotted #ccc; }

/* 반드시 들어가야하는 스타일 끝 - 이 아래는 자유롭게 추가, 삭제 가능 */

hr              { display:none;}
img             { border:0;}
h1, h2, h3, h4, h5, h6  { margin:0;  padding:0;}
.article h1 { font-size:1.6em;}
.article h2 { font-size:1.4em;}
.article h3 { font-size:1.2em;}
.article h4 { font-size:1em;}
input		{border:1px solid #D2D2D2; }
input.text	{padding-left:5px; color:#666; font:12px dotum; }
textarea	{border:1px solid #D2D2D2; color:#666; font:12px/18px dotum; }

/* 블로그 레이아웃 */
#header {
	padding-top:16px;
	background-color:/*@title-background-color=*/#000/*@*/;
	background-image:/*@title-background-image=*/none/*@*/;
	background-repeat:/*@title-background-image-repeat=*/no-repeat/*@*/;
	background-position:/*@title-background-image-position=*/right top/*@*/;
	text-align:center;
}

#header .floatWrapper {
	width:/*@post-width:372=*/1156px/*@*/;
	margin:0px auto;
}
#container {
	width:/*@post-width:372=*/1156px/*@*/;
	margin:0px auto;
}
#sidebarL {
	float:left;
	width:129px; overflow:hidden;
	background-color:#f2f2f2;
}
#container {
	background:url(images/bgLeft.gif) repeat-y left top;
}
#containerR {
	background:url(images/bgRight.gif) repeat-y right top;
}
#content {
	float:left;
	width:/*@post-width=*/784px/*@*/; overflow:hidden;
	margin:0px 12px;
	padding:0px 15px;
	background-color:#fff;
}
#sidebarR {
	float:right;
	width:189px; overflow:hidden;
	background-color:#f2f2f2;
}
#mainTop {
	width:/*@post-width:372=*/1156px/*@*/;
	background:url(images/layout_tl.gif) left top no-repeat; height:2px;
	margin:0px auto;
}
#mainTop .inner {
	background:url(images/layout_tr.gif) right top no-repeat; height:2px;
	font-size:2px; line-height:2px;
}
#mainBtm {
	width:/*@post-width:372=*/1156px/*@*/;
	background:url(images/layout_bl.gif) left top no-repeat; height:2px;
	margin:0px auto;
}
#mainBtm .inner {
	background:url(images/layout_br.gif) right top no-repeat; height:2px;
	font-size:2px; line-height:2px;
}
#footer {
	width:/*@post-width:54=*/838px/*@*/;
	clear:both;
	margin:0px auto;
	text-align:center;
	padding:0 189px 13px 129px;
}

/* HEADER */
/* 레이아웃 */
#header #searchBox {float:right; }
#header #bgMenu {
	background:url(images/bgMenu.gif) repeat-x top;
	height:27px;
}
#header #blogMenu {float:left; }
#header #counter {float:right; padding-right:4px; }

#header #bgTag {
	background:url(images/bgTag.gif) repeat-x top;
	height:29px;
	padding-top:10px;
}
#header #tagbox {float:left; padding-left:18px; }
#header .userDate {float:right; padding-right:4px; }

#btmHead {
	background:url(images/btmHead.png) repeat-x top;
	height:9px; font-size:9px; line-height:9px;
}
* html #btmHead {
	background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i1.daumcdn.net/cfs.tistory/custom/blog/23/232487/skin/images/btmHead.png', sizingMethod='scale');
}

/* 블로그 타이틀 */
#header h1 {
	height:/*@title-height:-16=*/80px/*@*/;
}
#header h1 a {
	font-size:/*@title-font-size=*/34px/*@*/;
	line-height:96px;
	font-family:/*@title-font-family=*/batang/*@*/;
	color:/*@title-color=*/#FFFFFF/*@*/;
	font-weight:normal;
	letter-spacing: -1px;
}

/* 검색 */
#searchBox {margin-top:-35px; margin-right:2px; }
#searchBox input {
	background-color:#262626;
	border:0;
	height:16px;
	padding-top:3px;
	font:12px/16px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#999;
	padding-left:8px;
	vertical-align:middle;
}
#searchBox .submit {
	background:url(images/btn_search.gif) no-repeat;
	width:61px; height:21px; text-indent:-5000px; overflow:hidden;
	border:0;
	cursor:pointer;
	vertical-align:middle;
}

/* 블로그 메뉴 */
#header #blogMenu {margin:0; padding:0; }
#header #blogMenu ul { list-style:none; margin:0; padding:0; }
#header #blogMenu li {
	list-style:none; margin:0; padding:0;
	display:inline; height:25px;
}
#header #blogMenu ul li a {
	display: block; float:left; overflow:hidden; text-indent:-500px;
	line-height:25px;
}
#blogMenu .tab_home a		{ background:url(images/tab_home.gif) no-repeat; width:64px; }
#blogMenu .tab_media a		{ background:url(images/tab_media.gif) no-repeat; width:89px; }
#blogMenu .tab_taglog a		{ background:url(images/tab_taglog.gif) no-repeat; width:74px; }
#blogMenu .tab_localog a	{ background:url(images/tab_localog.gif) no-repeat; width:108px; }
#blogMenu .tab_key a		{ background:url(images/tab_key.gif) no-repeat; width:74px; }
#blogMenu .tab_guestbook a	{ background:url(images/tab_guestbook.gif) no-repeat; width:94px; }
#blogMenu .tab_admin a		{ background:url(images/tab_admin.gif) no-repeat; width:68px; }
#blogMenu .tab_write a		{ background:url(images/tab_write.gif) no-repeat; width:60px; }

/* COUNTER */
#counter ul {margin:0; padding:0; }
#counter li {
	list-style:none; margin:0; padding:0;
	display:inline;
	font:11px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	letter-spacing:1px;
	color:#EF0005; line-height:25px;
}
#counter li span {
	color:#B9B9B9;
	padding-left:8px;
}

/* 태그박스 */
#tagbox h3 {
	float:left;
	font:12px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#99D2FF;
}
#tagbox h3 span {font-size:9px; margin-right:5px; padding-left:5px; }
#tagbox ul {
	float:left;
	margin:0; padding:0;
}
#tagbox li {
	display:inline;
	margin:0;
	background:url(images/bulTag.gif) no-repeat 0px 5px; padding:0 0 0 8px;
}
#tagbox a {
	font:12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF;
}
#tagbox a:hover    { text-decoration:underline; }
#tagbox li .cloud1 { font:bold 12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF; }
#tagbox li .cloud2 { font:bold 12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF; }
#tagbox li .cloud3 { font:12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF; }
#tagbox li .cloud4 { font:12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF; }
#tagbox li .cloud5 { font:12px Gulim, Arial, Verdana, Helvetica, sans-serif; color:#99D2FF; }

#tagbox .button {
	float:left; display:block;
	text-indent:-1000px; overflow:hidden;
	background:url(images/btn_moreTags.gif) no-repeat 0px 5px;
	width:50px; margin-left:12px;
	line-height: 15px;
}

/* 오늘의 날짜 출력 */
.userDate {
	font:12px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#99D2FF;
	letter-spacing:1px;
}

/* 왼쪽 사이드바 */
#blogImage {
	margin:7px 7px 3px 7px;
}
#blogImage img {
	width: 95%;
	border:2px solid #fff;
}
#blogDesc {
	font:11px/14px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#222;
	padding-left:10px;
}
#blogerID {
	display:block;
	font:bold 11px/16px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#222;
}
/* 카테고리 */
#category ul, #category li {
	margin:0px;
	padding:0px;
	list-style:none;
	font:11px/14px Gulim, sans-serif;
}
#category {
	margin-left:5px;
	margin-top:22px;
	margin-bottom:13px;
}
#category h3 {
	width:109px; height:21px;
	padding-left:10px;
	padding-top:4px;
	background-color:#1A5A8D;
	color:#fff;
	font:bold 12px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
}
#sidebarR #category h3 { width: 167px; }
#category h3 span {
	font:9px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	padding-left:4px;
}

/*1depth*/
#category ul li	{
	line-height:20px;
	background-image:url(images/line_categoryL.gif);
	background-repeat:repeat-x;
	background-position:bottom;
	width:119px;
	padding-top:4px;
}
#sidebarR #category ul li {
	width: 175px;
}
#category ul li a {
	color:#004276;
	padding-left:5px !important;
	letter-spacing:-1px;
}
#category ul li a:hover {
	text-decoration:none;
	font-weight:bold;
	letter-spacing:-2px;
}
#category a:hover .c_cnt {
	letter-spacing:0px;
}

/*2depth*/
#category ul li ul {
	margin-top:3px;
}
#category ul li ul li {
	background-image:url(images/line_categoryL.gif);
	background-repeat:repeat-x;
	background-position:top;
	padding-top:4px;
	padding-bottom:3px;
}
#category ul li ul li a {
	color:#004276;
	padding-left:5px !important;
	letter-spacing:-1px;
}
#category ul li ul li a:hover {
	text-decoration:none;
	font-weight:bold;
	letter-spacing:-2px;
}

/*3depth*/
#category ul li ul li ul {
	margin-top:2px;
}
#category ul li ul li ul li {
	background-image:url(images/line_categoryS.gif) !important;
	background-repeat:repeat-x;
	background-position:top;
	padding-left:0px !important;
	padding-top:1px;
	padding-bottom:0px;
	background-color:#E4E8EC;
}
#category ul li ul li ul li a {
	color:#30658F;
	padding-left:11px !important;
	letter-spacing:-1px;
}
#category ul li ul li ul li a:hover {
	background-image:url(images/ico_categoryS.gif) !important;
	background-repeat:no-repeat;
	background-position:5px 3px;
	padding-left:11px !important;
	text-decoration:none;
	font-weight:normal;
	letter-spacing:-1px;
}
#btnRSS {
	margin: 10px 0;
}
#btnRSS a {
	font:12px/18px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#666;
	background:url(images/rss.gif) no-repeat 8px 0px; padding-left:28px;
}
#adTistory a {
	font:11px Dotum, Arial, Verdana, Helvetica, sans-serif;
	color:#7D7D7D;
	padding-left:8px;
}
#adTistory .text {
	display:block;
	padding-left:10px;
}

/* 오른쪽 사이드바 */
#sidebarR ul, #sidebarL .sbarList ul { padding:0; margin:0; list-style:none;}
#sidebarR li, #sidebarL .sbarList li { padding:0; margin:0; list-style:none;}

/* 사이드바 레이아웃 */
.sbarList, .module {
	margin-left:8px;
	width:170px; overflow:hidden;
	background:url(images/lineSidebarR.gif) repeat-x bottom;
	padding-bottom:14px;
	margin-top:10px;
	padding-left:3px;
}
#sidebarL .sbarList, #sidebarL .module { width: 115px; }

/* 사이드바 타이틀 */
.sbarList h3, .module h3, .module h3 a {
	font:bold 12px/18px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#004276;
	margin-bottom:6px;
}
.sbarList h3 span, .module h3 span {
	font:9px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#c00;
	padding-left:4px;
}
.sbarList ul li a, .module ul li a {
	font:12px/18px Dotum, Arial, Verdana, Helvetica, sans-serif;
	color:#777;
}
.sbarList .cnt, .module .cnt {color:#004276; font:11px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif; }
#calendar {
	margin:20px 8px 8px 8px;
}
#calendar td {
	font:11px Gulim, Arial, Verdana, Helvetica, sans-serif;
}

/* CONTENT */
/* 글 타이틀 */
#localog h3,
#taglog h3,
#guestbook h3 {
	font:30px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#004276;
	background:url(images/lineTitle.gif) repeat-x bottom;
	padding:25px 0px 0px 5px;
	height:44px;
	word-spacing:-4px;
}
#taglog h3 {
	letter-spacing:-1px;
}
#taglog h3 span {
	font-size:24px;
}
#localog h3 b,
#taglog h3 b,
#guestbook h3 b {
	font:normal 18px tahoma;
	color:#c00;
	padding-left:4px;
}
#searchList h3,
#searchRplist h3 {
	font:13px/120% Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#000;
	background:url(images/lineSearch.gif) repeat-x bottom;
	padding:10px 0 10px 13px;
}
#searchList h3 span,
#searchRplist h3 span {
	font:bold 13px/120% Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#004276;
}
#searchList h3 b,
#searchRplist h3 b {
	font:bold 13px/120% Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#c00;
}
/* 검색결과 목록 */
#searchList ol,
#searchRplist ol {
	list-style:none; margin:0;
	padding:8px 20px 6px 20px;
}
#searchList li .date,
#searchRplist li .date {
	font:12px/20px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#7575A3;
	padding-right:2px;
}
#searchList li a,
#searchRplist li a {
	font:12px/20px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#444;
}
#searchList li .cnt,
#searchRplist li .cnt,
#searchRplist li .name {
	font:11px/20px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#898A8B;
}
#searchRplist li .name {padding-left:12px; }
/* 검색결과 BOX */
.boxTop {
	margin-top:13px;
	width:/*@post-width=*/784px/*@*/;
	background:url(images/box_tl.gif) left top no-repeat; height:5px;
}
.boxTop div.inner {
	background:url(images/box_tr.gif) right top no-repeat;
	font-size:5px; line-height:5px;
}
.boxBody {
	width:/*@post-width:-2=*/782px/*@*/;
	border-left:1px solid #D5D3E1;
	border-right:1px solid #D5D3E1;
}
.boxBottom {
	width:/*@post-width=*/784px/*@*/;
	background:url(images/box_bl.gif) bottom left no-repeat; height:5px;
	margin-bottom:15px;
}
.boxBottom div.inner {
	background:url(images/box_br.gif) bottom right no-repeat; height:5px;
	font-size:5px; line-height:5px;
}
#searchList,
#searchRplist {
	border-left:3px solid #fff;
	border-right:3px solid #fff;
	background-color:#F1F2F6;
}

/* 태그 로그 */
#taglog ul                  { padding:0; margin:16px 12px; text-align:justify;}
#taglog li                  { padding:0; margin:0; display:inline; }
#taglog a:hover             { text-decoration:underline; }
#taglog li .cloud5          { color:#777; font:13px/27px Gulim;}
#taglog li .cloud4          { color:#444; font:bold 13px/27px Gulim;}
#taglog li .cloud3          { color:#7575A3; font:bold 13px/27px Gulim;}
#taglog li .cloud2          { color:#0C4B7C; font:bold 13px/27px Gulim;}
#taglog li .cloud1          { color:#CC1D1D; font:14px/27px Gulim; }

/* LOCATION LOG */
#localog h3 {
	margin-bottom:13px;
}
#localog .spot {
	background:url(images/iconIndentArrow_local.gif) 3px 7px no-repeat;  padding-left:22px;
	font:13px/22px Gulim, sans-serif;
	color:#777;
}
#localog .info {
	background:url(images/iconIndentArrow_localinfo.gif) 0px 6px no-repeat;  padding-left:10px;
}
#localog a {
	font:13px/19px Gulim, sans-serif;
	color:#004276;
}

/* 보호글 */
.entryProtected .wrapper {
	background:url(images/bgProtected.gif) repeat-x top;
	padding-left:164px;
	padding-top:53px;
	padding-bottom:59px;
	border-bottom:1px solid #E6E6E6;
	margin-bottom:15px;
}
.entryProtected p {margin:5px 0 0 0; }
.entryProtected label {
	font:11px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#7878A5;
	border:1px solid #ACACC8;
	padding:2px 4px;
	vertical-align:middle;
}
.entryProtected input    {
	font:12px/18px Gulim, Arial, Verdana, Helvetica, sans-serif;
	border:1px solid #D5D5E3; background-color:#F1F2F6;
	width:150px; height:16px;
	vertical-align:middle;
}
.entryProtected .submit  {
	font:12px/18px Batang, Times, 'Times New Roman', Garamond, bodoni,Gungsuh, serif;
	color:#fff;
	border:1px solid #ACACC8; background-color:#ACACC8;
	width:40px; height:20px;
	vertical-align:middle;
}
/* 본문제목 */
.titleWrap h2 a {
	font-weight:bold;
	font-family:/*@post-title-font-family=*/batang/*@*/;
	font-size:/*@post-title-font-size=*/24px/*@*/;
	line-height:120%;
	color:/*@post-title-color=*/#000/*@*/;
}
.titleWrap h2 {margin-bottom:7px; margin-top:27px; }
/* 본문제목 밑 정보 */
.titleWrap {
	background:url(images/lineTitle.gif) repeat-x bottom;
	padding:8px 0 12px 0px;
}
.titleWrap,
.titleWrap a{
	font:11px/120% dotum, sans-serif;
	color:#999;
}
.titleWrap .category,
.titleWrap .category a { color:#444; letter-spacing: -1px; }
.titleWrap .author { letter-spacing: -1px; }
.titleWrap .text { letter-spacing: normal; }

.article {
	font:13px/22px Gulim, sans-serif;
	color:#444;
}
/* 본문 관리자 메뉴 */
.admin {
	margin-top:9px;
	text-align:right;
}
.admin,
.admin a {
	font:11px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#7575A3;
}
.admin span a {font:10px 'Times new roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;}
.admin span a:hover {text-decoration:none; }
.admin span {
	border:1px solid #D2D2D2;
	background-color:#fff;
	padding:2px 4px;
}
.admin span.button {
	padding-right:0px; margin-right:4px;
}
.admin .window {background:url(images/iconWindow.gif) no-repeat right 1px; padding-right:45px; }

/* 본문 */
.entry { padding-bottom:10px; }
.article {
	width:/*@post-width=*/784px/*@*/;
	overflow:hidden;
	font-size:/*@post-body-font-size=*/12px/*@*/;
	line-height:170%;
	font-family:/*@post-body-font-family=*/batang/*@*/;
	color:/*@post-body-color=*/#444/*@*/;
	padding-top:13px;
	padding-bottom:14px;
}
.article a { color:#7575A3; }
.article dt { text-decoration:underline;}
.article dd { margin-left:20px; padding-bottom:10px;}
.article blockquote { background:url(images/iconBlockquote.gif) 0px 0px no-repeat;  padding-left:13px;  margin:10px;}

/* 본문태그 */
.tagTrail {
	border-top:1px solid #E6E6E6;
	border-bottom:2px solid #E6E6E6;
	padding:0px 0px 4px 6px;
	margin-bottom:1px;
}
.tagTrail a { font-family: gulim, sans-serif; color:#004276; }
.tagTrail .wrapper { padding:5px 5px 5px 40px;  background:url(images/entryTag.gif) no-repeat 0px 6px; clear:both;}
.tagText { display:none;}

/* TagTrail */
.actionTrail {
	border-top:1px solid #E6E6E6;
	padding:2px 5px;  clear:both;
}
.actionTrail a {
	font:11px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#666;
}
.actionTrail .cnt { color:#c00;}

/* TrackBack */
.trackback				{ width:/*@post-width=*/784px/*@*/;  margin-bottom:5px; }
.trackback a			{ color:#000; }
.trackback h3			{
	background-color:#F1F2F6;
	border:1px solid #fff;
	font:10px/16px 'Times New Roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#7575A3;
	width:/*@post-width:-9=*/775px/*@*/;
	padding:5px 0 6px 5px;
}
.trackback .h3Wrapper {
	border:1px solid #D5D3E1;
}
.trackback .h3Wrapper span {font-size:12px; letter-spacing:1px; color:#444; }
.trackback h4			{ font:12px/18px Gulim; font-weight:bold; margin:0; }
.trackback h4 a,
.trackback h4 a:hover	{ color:#444; }
.trackback span			{ color:#909090; font-size:11px; letter-spacing:-1px; }
.trackback ol			{ background-color:#F2F2F2; margin:5px 0 0 0; padding:10px 20px 20px 20px; list-style:none; }
.trackback li			{ border-bottom:1px solid #e6e6e6; padding:10px 0 0 0; width:/*@post-width:-40=*/744px/*@*/; overflow:hidden; word-wrap:break-word; word-break:break-all; }
.trackback .date		{ font-family:Verdana, Helvetica, Arial, Gulim, sans-serif; }
.trackback .from		{ font-family:verdana; line-height:11px;  }
.trackback .name		{ font-family:dotum; letter-spacing:0px; }
.trackback .name a {color:#444; }
.trackback p			{ font:12px Dotum, Arial, sans-serif; color:#626262; margin:9px 0 13px 0; padding:0; }

.trackback a.delete			{ background:url(images/iconDelete.gif) left top no-repeat; padding-left:25px; text-decoration:none; }
.trackback a.delete span	{ display:none; }

/* 댓글 + 방명록 */
.comment h3	{ display:none; }
.commentList ol,
.commentList ul,
#guestList ol,
#guestList ul { list-style:none; margin:0; padding:0; }
.comment {
	background-color:#F2F2F2;
	padding:10px 20px 20px 20px;
	width:/*@post-width:-40=*/744px/*@*/;
	overflow:hidden;
}
.commentList ol li {
	border-bottom:1px solid #E5E5E5;
	padding-bottom:9px;
	padding-top:10px;
}
#guestList ol li {
	background-color:#F2F2F2;
	padding:20px 20px 14px 20px;
	width:/*@post-width:-40=*/744px/*@*/;
	overflow:hidden;
	margin-bottom:5px !important;
}
.commentList ul li,
#guestList ul li {
	background:url("images/iconIndentArrow_reply.gif") no-repeat 4px 1px;
	margin:0; padding:0;
	padding-left:20px;
	margin-top:13px;
	border:0px;
}
.commentList .control a span,
#guestList .control a span { display:none; }
.commentList .control a,
#guestList .control a {text-decoration:none; }
.commentList .control a.address			{ background:url(images/iconAddress.gif) no-repeat; padding:0 0 0 30px; }
.commentList .control a.modify			{ background:url(images/iconModify.gif) no-repeat; padding:0 0 0 43px; margin-left:-4px; }
.commentList .control a.write			{ background:url(images/iconWrite.gif) no-repeat; padding:0 0 0 34px; }
#guestList .control a.modify		{ background:url(images/iconModify.gif) no-repeat; padding:0 0 2px 43px; }
#guestList .control a.write			{ background:url(images/iconWrite.gif) no-repeat; padding:0 5px 2px 34px; }

.commentList p,
#guestList p { margin:7px 0 0 0; }
.commentList ol p,
#guestList ol p {
	width:/*@post-width:-40=*/744px/*@*/; word-wrap:break-word; word-break:break-all;
}
.commentList ul p,
#guestList ul p{
	width:/*@post-width:-60=*/724px/*@*/; word-wrap:break-word; word-break:break-all;
}

/* 텍스트 */
.commentList .name,
.commentList .name a,
#guestList .name,
#guestList .name a {
	font:bold 12px/18px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#444;
}
.commentList .date,
#guestList .date {
	font:11px/18px 'Times new roman', Times, Garamond, bodoni, Batang, Gungsuh, serif;
	color:#9E9E9E;
}
.commentList ol p,
.commentList ul p,
#guestList ol p,
#guestList ul p {
	font:12px/18px Gulim, Arial, Verdana, Helvetica, sans-serif;
	color:#666;
}

/* 댓글+방명록 글쓰기 */
#guestWrite {
	border:1px solid #D5D3E1;
	background-color:#F1F2F6;
	margin:10px 0;
}
#guestWrite .inner {
	border:1px solid #fff;
	padding:17px 0 15px 18px;
}
.commentWrite { margin-top:15px; }
.commentWrite .wrapper label{
	width:70px; float:left; display:block;
	font:11px 'Times New Roman', Garamond, bodoni, Gungsuh, serif;
	color:#7575A3;
}
#guestWrite p label.headName		{ background:url(images/head_name.gif) no-repeat left 10px; width:70px; text-indent:-5000px; display: block; float:left; }
#guestWrite p label.headPassword	{ background:url(images/head_password.gif) no-repeat left 8px; width:70px; text-indent:-5000px; display: block; float:left; }
#guestWrite p label.headComment		{ background:url(images/head_comment.gif) no-repeat left 8px; width:70px; text-indent:-5000px; display: block; float:left; }
#guestWrite p						{ clear:both; padding:0; margin:0 0 3px 0; }
.commentWrite p label.headName		{ background:url(images/head_name.gif) no-repeat left 8px; width:70px; text-indent:-5000px; display: block; float:left; }
.commentWrite p label.headPassword	{ background:url(images/head_password.gif) no-repeat left 8px; width:70px; text-indent:-5000px; display: block; float:left; }
.commentWrite p label.headComment	{ background:url(images/head_comment.gif) no-repeat left 8px; width:70px; text-indent:-5000px; display: block; float:left; }
.commentWrite p	{ clear:both; padding:0; margin:0 0 3px 0; }
textarea { width:/*@post-width:-126=*/658px/*@*/; padding:5px; }
.secretWrap .checkbox {
	border:none !important;
	width:20px !important;
	padding:0;
	margin:0 0 0 66px;
	vertical-align:middle;
}
* html .secretWrap .checkbox { margin: 0 0 0 70px; }
.commentWrite label span {
	font:12px 'Times New Roman', Garamond, bodoni, Gungsuh, serif;
	color:#666;
}
.commentWrite input,
#guestWrite input { width:150px; }
#guestWrite .submit	{
	background:url(images/btn_guestbook.gif) no-repeat;
	width:74px; height:20px;
	overflow:hidden; display:block; text-indent:-1000em;
	cursor:pointer;
	border:0;
	margin-left:/*@post-width:-118=*/666px/*@*/;
}
.commentWrite .submit {
	background:url(images/btn_comment.gif) no-repeat;
	width:74px; height:20px;
	overflow:hidden; display:block; text-indent:-1000em;
	cursor:pointer;
	border:0; margin:0 auto;
}
/* PAGING */
#paging {
	text-align:center;
	font-size:11px;
	line-height:16px;
	margin:4px 0px 15px 0px;
}
#paging a {color:#757068; vertical-align:middle; }
#paging a:hover { color:#757068; text-decoration:underline; }

#paging .num { padding: 1px 4px; }
#paging .numbox { padding:0px 4px; }
#paging img { vertical-align:middle; }

/* 이전 다음 버튼 */
#prevPage span, #nextPage span {
	display:none;
}
a#prevPage:hover, a#nextPage:hover {text-decoration:none; }
#prevPage, .no-more-prev, #nextPage, .no-more-next {
	background-repeat:no-repeat;
	font:15px/15px gulim;
}
#prevPage, .no-more-prev {
	background-position: left top;
}
#nextPage, .no-more-next {
	background-position: right top;
}
#prevPage {background-image:url(images/ico_prev.gif); }
#nextPage {background-image:url(images/ico_next.gif); }

#uibgmplayer { margin:5px 0 0 5px; width:181px;}
.btm {font-size:0px; line-height:0px; }
/* FOOTER */
#footMenu { margin:16px 0 5px 0; }
#footMenu ul li,
#footMenu ul li a {
	font:11px/13px Gulim, sans-serif;
	color:#666;
}
#footMenu ul li span {
	font-size:10px;
	padding-left:8px; padding-right:4px;
}
#footMenu ul { margin:0; padding:0; }
#footMenu li { margin:0; padding:0; display:inline; }
#copyright a        {
	font:12px Gulim, sans-serif;
	color:#666;
}

/* 카테고리 글 더보기 영역 배경 빼기 */
.article table th, .article table td { background-color: transparent !important; }

/* Float 버그 */
.floatWrapper:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}
.floatWrapper {display: inline-block;}
/* Hides from IE-mac \*/
* html .floatWrapper {height: 1%;}
/* End hide from IE-mac */